<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="row">
        <div class="col-xs-12">
          <button [disabled]="!f.valid" type="submit" class="btn btn-success">
            Save
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancle()">
            Cancle
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              name="name"
              class="form-control"
              [(ngModel)]="name"
              required
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              name="imagePath"
              class="form-control"
              [(ngModel)]="imagePath"
              required
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath" class="img-responsive" height="150px" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              name="description"
              class="form-control"
              [(ngModel)]="description"
              required
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-8">
              <input
                type="text"
                name="ingName"
                class="form-control"
                [(ngModel)]="ingName"
                required
              />
            </div>

            <div class="col-xs-2">
              <input
                type="number"
                name="amount"
                class="form-control"
                [(ngModel)]="amount"
                required
                pattern="^[0-9]+[0-9]*$"
              />
            </div>
            <div class="col-xs-2">
              <button class="btn btn-danger">X</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
